<footer class="grid grid-cols-2 place-items-center px-20 py-4 mt-52 mb-20 text-[#C3C3C3]">
  <a href="#" class="col-span-2 bg-[#F5C518] px-5 py-2 text-[#121212] rounded-md mt-8 mb-16 font-medium">Unlock the full IMDb experience - Sign up now</a>
  <nav class="grid grid-cols-3 gap-8 w-50">
    @for (footerMenu of footerMenus; track footerMenu.label){
    <ul class="flex flex-col gap-3">
      @for (footerItem of footerMenu.items; track footerItem){
      <li>
        <a [ngClass]="footerItem.icon ? 'flex' : ''" href={{footerItem.link}}>{{ footerItem.label }}
          @if(footerItem.icon){
          <app-arrow-up-right></app-arrow-up-right>
          }
        </a>
      </li>
      }
    </ul>
    }
  </nav>
  <section class="flex flex-col justify-between h-full">
    <article class="flex justify-between">
      <a href="#">
        <app-tiktok></app-tiktok>
      </a>
      <a href="#">
        <app-x></app-x>
      </a>
      <a href="#">
        <app-youtube></app-youtube>
      </a>
      <a href="#">
        <app-ig></app-ig>
      </a>
      <a href="#">
        <app-facebook></app-facebook>
      </a>



    </article>
    <article>
      <span class="text-[#797979]">&copy; 1990-2024 by IMDb.com, Inc.</span>
    </article>
  </section>
</footer>
