<article>
    <div class="mb-2 relative">
      <picture>
        <img class="aspect-video max-w-[342px] h-auto rounded-lg object-cover" src={{video.cover}} alt={{video.title}}>
      </picture>
      <div class="absolute bottom-5 left-3.5">
        <app-tags [tagTitle]="'2:50'" [icon]="'play'"></app-tags>
      </div>
    </div>
    <div class="flex flex-col gap-2">
      <p class="text-[#c3c3c3]">{{video.title}}</p>
      <a class="text-yellow-500" href="#">Watch now</a>
    </div>
</article>
