app-box-office {
  counter-increment: title-counter;
}

article::before {
  transform: scaleY(1.4);
  font-weight: 900;
  align-self: center;
  position: absolute;
  color: #c3c3c3;
  opacity: 0.1;
  z-index: -1;
  line-height: 1;
}

article[data-content='Toppicks']::before {
  content: 'What to Watch';
  top: -5%;
  font-size: 172px;
}

article[data-content='IMDbOriginals']::before {
  content: 'Videos';
  top: -5%;
  font-size: 181px;
}

article[data-content='Topboxoffice(US)']::before {
  content: 'Explore';
  top: -10%;
  font-size: 181px;
}

article[data-content='streaming'] {
  margin-top: 8rem;
}

article[data-content='streaming']::before {
  content: 'Streaming Now';
  top: -30%;
  font-size: 172px;
}
