<div class="[grid-area:settings] flex gap-4 text-[#C3C3C3]">
  <a href="" class="flex gap-2">
    <app-watchlist></app-watchlist>
    <span>Watchlist</span>
  </a>
  <a href="" class="flex gap-2">
    <app-user></app-user>
    <span>User</span>
  </a>
  <div>
    <select class="bg-transparent cursor-pointer" title="language selector" name="languages" id="languages">
      <option value="english">EN</option>
      <option value="spanish">ES</option>
    </select>
  </div>
  <div class="flex gap-2 cursor-pointer">
    <app-light></app-light>
  </div>
</div>
