<div class="mb-40 relative">
  <div class="w-[1041px] h-[631px] rounded-lg slider">
    <picture>
      <img class="size-full" src="/assets/images/dune2.png" alt="">
    </picture>
  </div>
  <div class="flex gap-4 absolute left-6 top-[55%]">
    <div class="relative">
      <picture>
        <source srcset="/assets/images/tlou.png" media="(min-width: 768px)">
        <img src="/assets/images/tlou.png" alt="placeholder" class="w-64 h-auto">
      </picture>
      <div class="absolute top-0 left-6">
        <app-bookmark></app-bookmark>
      </div>
    </div>
    <div class="flex justify-end gap-4">
      <div class="flex justify-end flex-col">
        <div class="rounded-full bg-[#A3A3A3] bg-opacity-15 p-8">
          <i class="ti ti-player-play-filled text-[40px]"></i>
        </div>
      </div>
      <div class="flex flex-col justify-end">
        <h1 class="text-4xl">The Eyes of ‘Dune: Part Two’</h1>
        <h2 class="text-[#A3A3A3] opacity-60 text-[28px]">Watch our cast interview</h2>
      </div>
    </div>
  </div>
</div>
