<div class="flex justify-between items-center mb-8 text-[#c3c3c3]">
  <div class="flex flex-col gap-2">
    @if(!title){
      <app-tabs></app-tabs>
    }
    <h2 class="text-[28px]">
      @if(title){
        <span class="text-[#F5C518]">&#x2022;</span>
      }
      {{title}}
      @if(showIcon){
        <span><i class="ti ti-arrow-right"></i></span>
      }
    </h2>
    @if(subtitle){
      <p class="text-[#a3a3a3]">{{subtitle}}</p>
    }
  </div>
  @if(showButtons){
    <div class="flex gap-2 p-4">
      <button class="bg-[#A3A3A3] disabled:bg-opacity-5 bg-opacity-15 py-3 px-4 rounded-full" [disabled]='true'><i class="ti ti-chevron-left text-xl opacity-30"></i></button>
      <button class="bg-[#A3A3A3] bg-opacity-15 py-3 px-4 rounded-full text-xl"><i class="ti ti-chevron-right"></i></button>
    </div>
  }
</div>
